<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="website icon" type="png" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
    <nav class="menubar">
        <div class="tab">
            <button class="active">메인</button>
            <button onclick="location.href='/calendar'">달력</button>
            <button onclick="location.href='/help'">문의하기</button>
            <button onclick="location.href='/account'">계정</button>
        </div>
    </nav>
    <div class="container">
        <div class="sidebar">
            <div class="menu">
                <button class="search" id="menu_btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>검색</span>
                </button>
                <button class="setting" id="menu_btn">
                    <i class="fa-solid fa-gear"></i>
                    <span>설정</span>
                </button>
                <button class="donate" id="menu_btn">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>개발자 도와주기</span>
                </button>
            </div>
            <hr>
            <div class="categories">
                <button class="todo" id="category_btn" onclick="location.href='/'">할 일</button>
                <button class="success" id="category_btn" onclick="location.href='/success'">완료</button>
                <button class="favorite selected" id="category_btn">즐겨찾기</button>
            </div>
            <hr>
            <div class="other_categories">
                {% for category in categories %}
                <a href="{{ url_for('category_page', category_id=category[0]) }}" class="category-link">
                    <button id="category_btn" data-category-id="{{ category[0] }}">{{ category[1] }}</button>
                </a>
                {% endfor %}
                <button id="add-category"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="copyright">
                <span>&copy; 2024. TDL All rights reserved.</span>
            </div>
        </div>
        <div class="contents">
            {% set favorite_count = namespace(value=0) %}
                {% for todo in todo %}
                    {% if todo[4] == 1 %}
                    {% set favorite_count.value = favorite_count.value + 1 %}
                    <div id="todo" class="todo-item{% if todo[4] == 1 %} active{% endif %}" todo-id="{{ todo[0] }}">
                        <button id="grip"><i class="fa-solid fa-grip-vertical"></i></button>
                        <h3 class="title">{{ todo[2] }}</h3>
                        <p class="detail">{{ todo[3] }}</p>
                        <button id="favorite" class="favorite-btn" data-id="{{ todo[0] }}">
                            <i class="fa-{% if todo[4] %}solid{% else %}regular{% endif %} fa-star"{% if todo[4] %} style="color: #FFD43B;"{% endif %}></i>
                        </button>
                        <button id="other"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        <button id="success" data-id="{{ todo[0] }}">
                            <i class="fas fa-{% if todo[6] == 1 %}check-circle{% else %}circle{% endif %}"></i>
                        </button>
                        <div class="other-container" style="display: none;">
                            <div class="edit-group" id="other-group">
                                <i class="fa-solid fa-pen"></i>수정
                            </div>
                            <div class="remove-group" id="other-group">
                                <i class="fa-regular fa-trash-can"></i>삭제
                            </div>
                            <div class="detail-group" id="other-group">
                                <i class="fa-solid fa-circle-info"></i>상세 정보
                            </div>
                        </div>
                        <div class="info-container" style="display: none;">
                            <p><span><i class="fa-regular fa-calendar-plus"></i> 생성일</span><span> {{ todo[5].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[5] else '정보 없음' }}</span></p>
                            <p><span><i class="fa-solid fa-pen"></i> 수정일</span><span> {{ todo[10].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[10] else '수정되지 않음' }}</span></p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% if favorite_count.value == 0 %}
                <div class="no-favorites-message">
                    <p>즐겨찾기한 항목이 없습니다</p>
                    <p>메인 페이지에서 별 모양 아이콘을 클릭하여 항목을 즐겨찾기에 추가할 수 있습니다</p>
                </div>
                {% endif %}
        </div>
    </div>
    <div class="edit-modal-background" style="display: none;">
        <div class="edit-modal">
            <h2>할 일 수정</h2>
            <hr>
            <div class="input-group">
                <input type="text" name="edit-title" id="edit-title" autocomplete="off" placeholder=" ">
                <div class="edit-label-title">할 일</div>
            </div>
            <div class="input-group">
                <input type="text" name="edit-detail" id="edit-detail" autocomplete="off" placeholder=" ">
                <div class="edit-label-detail">상세 내용</div>
            </div>
            <input type="hidden" id="edit-todo-id">
            <button id="edit">수정</button>
        </div>
    </div>
    <div class="confirm-modal-background" style="display: none;">
        <div class="confirm-modal">
            <h3>정말 삭제하시겠습니까?</h3>
            <div class="between">
                <button id="yes">삭제</button>
                <button id="no">취소</button>
            </div>
        </div>
    </div>
    <div class="donate-modal-background" style="display: none;">
        <div class="donate-modal">
            <h3>개발자 도와주기</h3>
            <p>개발자에게 간식 살 돈을 보태주세요. <br> 개발자는 하루에 한 번 꼭 이것을 먹어요.</p>
            <p><i class="fa-solid fa-triangle-exclamation"></i> 아무런 혜택도 주지 않습니다.</p>
            <div class="chocolate">
                <img src="{{ url_for('static', filename='img/dreamcacao.jpg') }}" alt="드림 카카오 이미지">
                <div>
                    드림 카카오 초콜릿 사주기<br>
                    ₩4,000
                </div>
            </div>
            <div class="pocari">
                <img src="{{ url_for('static', filename='img/pocari.png') }}" alt="포카리스웨트 이미지">
                <div>
                    포카리 스웨트 사주기<br>
                    ₩2,500
                </div>
            </div>
            <div class="qr-overlay" style="display: none;">
                <img src="" alt="QR Code" class="qr-image">
                <button class="back-button"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
    <div class="search-modal-background" style="display: none;">
        <div class="search-modal">
            <h3>이런! 무언가 잃어버렸나요?</h3>
            <div id="group" class="search">
                <input type="text" id="category-search-input" placeholder=" " autocomplete="off">
                <label for="category-search-input">힌트를 주시면 제가 찾아볼게요</label>
            </div>
            <div id="category-search-results"></div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/main/favorite.js') }}"></script>
</html>