<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="website icon" type="png" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
    <nav class="menubar">
        <div class="tab">
            <button class="active">메인</button>
            <button onclick="location.href='/calendar'">달력</button>
            <button onclick="location.href='/help'">문의하기</button>
            <button onclick="location.href='/account'">계정</button>
        </div>
    </nav>
    <div class="container">
        <div class="sidebar">
            <div class="menu">
                <button class="search" id="menu_btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>검색</span>
                </button>
                <button class="setting" id="menu_btn">
                    <i class="fa-solid fa-gear"></i>
                    <span>설정</span>
                </button>
                <button class="donate" id="menu_btn">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>개발자 도와주기</span>
                </button>
            </div>
            <hr>
            <div class="categories">
                <button class="todo" id="category_btn" onclick="location.href='/'">할 일</button>
                <button class="success selected" id="category_btn">완료</button>
                <button class="favorite" id="category_btn" onclick="location.href='/favorite'">즐겨찾기</button>
            </div>
            <hr>
            <div class="other_categories">
                {% for category in categories %}
                <a href="{{ url_for('category_page', category_id=category[0]) }}" class="category-link">
                    <button id="category_btn" data-category-id="{{ category[0] }}">{{ category[1] }}</button>
                </a>
                {% endfor %}
                <button id="add-category"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="copyright">
                <span>&copy; 2024. TDL All rights reserved.</span>
            </div>
        </div>
        <div class="contents">
            {% for todo in todo %}
                <div id="todo" class="todo-item" todo-id="{{ todo[0] }}">
                    <h3 class="title">{{ todo[2] }}</h3>
                    <p class="detail">{{ todo[3] }}</p>
                    <button id="favorite" class="favorite-btn" data-id="{{ todo[0] }}" data-favorite="{{ 'true' if todo[3] == 1 else 'false' }}">
                        <i class="fa-star {% if todo[3] == 1 %}fa-solid{% else %}fa-regular{% endif %}"></i>
                    </button>
                    <button id="other"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    <button id="delete" class="delete-btn" data-id="{{ todo[0] }}">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                    <div class="other-container" style="display: none;">
                        <div class="remove-group" id="other-group">
                            <i class="fa-regular fa-trash-can"></i>삭제
                        </div>
                        <div class="detail-group" id="other-group">
                            <i class="fa-solid fa-circle-info"></i>상세 정보
                        </div>
                    </div>
                    <div class="info-container" style="display: none;">
                        <p><span><i class="fa-regular fa-calendar-plus"></i> 생성일</span><span> {{ todo[5].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[5] else '정보 없음' }}</span></p>
                        <p><span><i class="fa-solid fa-pen"></i> 수정일</span><span> {{ todo[10].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[10] else '수정되지 않음' }}</span></p>
                        <p><span><i class="fa-solid fa-circle-check"></i> 완료일</span><span> {{ todo[11].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[11] else '정보 없음' }}</span><br>
                            <span class="completion-message">
                                {% if todo[12] is not none %}
                                    {% set days = todo[12] %}
                                    {% if days == 0 %}
                                        {% set instant_complete_messages = [
                                            "번개 빠른 완료!",
                                            "초스피드 달성!",
                                            "순식간에 해치웠어요!",
                                            "당일 완벽 수행!",
                                            "즉시 실천, 바로 성공!"
                                        ] %}
                                        {{ instant_complete_messages | random }}
                                    {% elif days < 7 %}
                                        {% set daily_complete_messages = [
                                            days ~ "일 만에 달성! 빠른 실천력이 돋보여요 👍",
                                            "딱 " ~ days ~ "일 걸렸어요! 효율적인 당신 👏",
                                            days ~ "일간의 집중, 멋진 결과예요!",
                                            "목표 달성까지 단 " ~ days ~ "일, 대단해요!",
                                            days ~ "일 만에 해냈어요! 당신의 열정이 빛나요"
                                        ] %}
                                        {{ daily_complete_messages | random }}
                                    {% elif days < 30 %}
                                        {% set weeks = (days // 7) %}
                                        {% set weekly_complete_messages = [
                                            weeks ~ "주 만에 성공! 꾸준함의 결실이네요",
                                            weeks ~ "주 동안 포기하지 않은 당신, 대단해요!",
                                            weeks ~ "주간의 노력이 빛을 발했어요",
                                            "목표 달성까지 " ~ weeks ~ "주, 당신의 의지가 만든 결과예요",
                                            weeks ~ "주 만에 해냈어요! 작심삼일? 당신은 작심" ~ days ~ "일!"
                                        ] %}
                                        {{ weekly_complete_messages | random }}
                                    {% elif days < 365 %}
                                        {% set months = (days // 30) %}
                                        {% set monthly_complete_messages = [
                                            months ~ "개월의 여정, 마침내 목표 달성!",
                                            months ~ "개월 동안 꾸준히 노력한 당신, 정말 대단해요",
                                            "와우! " ~ months ~ "개월 만에 해냈어요. 끈기의 승리군요",
                                            months ~ "개월간의 도전, 결실을 맺었네요. 축하합니다!",
                                            "목표를 향한 " ~ months ~ "개월간의 여정, 당신은 진정한 챔피언!"
                                        ] %}
                                        {{ monthly_complete_messages | random }}
                                    {% else %}
                                        {% set years = (days // 365) %}
                                        {% set yearly_complete_messages = [
                                            years ~ "년 만에 드디어 완료! 당신의 끈기에 박수를 👏👏👏",
                                            "와우! " ~ years ~ "년의 노력이 결실을 맺었어요. 대단합니다",
                                            years ~ "년간의 도전, 마침내 성공! 당신은 진정한 영웅이에요",
                                            "목표를 향한 " ~ years ~ "년의 여정, 감동적입니다",
                                            years ~ "년 동안 포기하지 않은 당신, 정말 자랑스러워요"
                                        ] %}
                                        {{ yearly_complete_messages | random }}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="confirm-modal-background" style="display: none;">
        <div class="confirm-modal">
            <h3>정말 삭제하시겠습니까?</h3>
            <div class="between">
                <button id="yes">삭제</button>
                <button id="no">취소</button>
            </div>
        </div>
    </div>
    <div class="donate-modal-background" style="display: none;">
        <div class="donate-modal">
            <h3>개발자 도와주기</h3>
            <p>개발자에게 간식 살 돈을 보태주세요. <br> 개발자는 하루에 한 번 꼭 이것을 먹어요.</p>
            <p><i class="fa-solid fa-triangle-exclamation"></i> 아무런 혜택도 주지 않습니다.</p>
            <div class="chocolate">
                <img src="{{ url_for('static', filename='img/dreamcacao.jpg') }}" alt="드림 카카오 이미지">
                <div>
                    드림 카카오 초콜릿 사주기<br>
                    ₩4,000
                </div>
            </div>
            <div class="pocari">
                <img src="{{ url_for('static', filename='img/pocari.png') }}" alt="포카리스웨트 이미지">
                <div>
                    포카리 스웨트 사주기<br>
                    ₩2,500
                </div>
            </div>
            <div class="qr-overlay" style="display: none;">
                <img src="" alt="QR Code" class="qr-image">
                <button class="back-button"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/main/success.js') }}"></script>
</html>