<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="website icon" type="png" href="../../static/img/icon.png">
</head>
<body>
    <nav class="menubar">
        <div class="tab">
            <button class="active">메인</button>
            <button onclick="location.href='/calendar'">달력</button>
            <button onclick="location.href='/help'">문의하기</button>
            <button onclick="location.href='/account'">계정</button>
        </div>
    </nav>
    <div class="container">
        <div class="sidebar">
            <div class="menu">
                <button class="search" id="menu_btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>검색</span>
                </button>
                <button class="setting" id="menu_btn">
                    <i class="fa-solid fa-gear"></i>
                    <span>설정</span>
                </button>
                <button class="donate" id="menu_btn">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>개발자 도와주기</span>
                </button>
            </div>
            <hr>
            <div class="categories">
                <button class="todo" id="category_btn" onclick="location.href='/'">할 일</button>
                <button class="success selected" id="category_btn">완료</button>
                <button class="favorite" id="category_btn" onclick="location.href='/favorite'">즐겨찾기</button>
            </div>
            <hr>
            <div class="other_categories">
                <button id="add-category"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="copyright">
                <span>&copy; 2024. TDL All rights reserved.</span>
            </div>
        </div>
        <div class="contents">
            {% for todo in todo %}
                <div id="todo" class="todo-item" todo-id="{{ todo[0] }}">
                    <h3 class="title">{{ todo[2] }}</h3>
                    <p class="detail">{{ todo[3] }}</p>
                    <button id="favorite" class="favorite-btn" data-id="{{ todo[0] }}" data-favorite="{{ 'true' if todo[3] == 1 else 'false' }}">
                        <i class="fa-star {% if todo[3] == 1 %}fa-solid{% else %}fa-regular{% endif %}"></i>
                    </button>
                    <button id="other"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    <button id="delete" class="delete-btn" data-id="{{ todo[0] }}">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                    <div class="other-container" style="display: none;">
                        <div class="remove-group" id="other-group">
                            <i class="fa-regular fa-trash-can"></i>삭제
                        </div>
                        <div class="detail-group" id="other-group">
                            <i class="fa-solid fa-circle-info"></i>상세 정보
                        </div>
                    </div>
                    <div class="info-container" style="display: none;">
                        <p><span><i class="fa-regular fa-calendar-plus"></i> 생성일</span><span> {{ todo[5].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[5] else '정보 없음' }}</span></p>
                        <p><span><i class="fa-solid fa-pen"></i> 수정일</span><span> {{ todo[10].strftime('%Y년 %m월 %d일 %H:%M:%S') if todo[10] else '수정되지 않음' }}</span></p>
                        <p><span><i class="fa-solid fa-circle-check"></i> 완료일</span><span> </span></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="confirm-modal-background" style="display: none;">
        <div class="confirm-modal">
            <h3>정말 삭제하시겠습니까?</h3>
            <div class="between">
                <button id="yes">삭제</button>
                <button id="no">취소</button>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/main/success.js') }}"></script>
</html>