.container {
    background-color: #E7E7E7;
    border-radius: 15px;
    padding: 20px;
    height: 500px;
    width: 800px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto;
    text-align: center;
}

.id span {
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

hr { border-top: 1px solid black; }

.pw-view, .email-view {
    width: 350px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #E1E1E1;
    left: 130px;
    padding: 0 10px 0 20px;
}

#pw, #email { font-size: 20px; }
.pw-view button {
    font-size: 18px;
    border: transparent;
    background: transparent;
}

#pw-edit, #email-edit {
    background: #BDD971;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    border: transparent;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    right: 170px;
    position: absolute;
    font-size: 20px;
    text-align: center;
}

#pw-see { cursor: pointer; }

#title {
    display: flex;
    position: relative;
    text-align: left;
    left: 145px;
    color: gray;
    margin-top: 13px;
}

.between-pw, .between-email {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.mode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}

.mode span {
    font-size: 18px;
    font-weight: bold;
}

.light {
    background: white;
    width: 120px;
    height: 50px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.dark {
    background: #808080;
    width: 120px;
    height: 50px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#DarkLight {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

#DarkLight:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

#DarkLight:checked { background: #333; }
#DarkLight:checked:before { left: 21px; }

.quit {
    display: flex;
    position: relative;
    top: 115px;
    left: 310px;
    align-items: center;
}

.quit button {
    width: 90px;
    height: 40px;
    font-size: 17px;
    color: red;
    font-weight: bold;
    background: transparent;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.vertical-line {
    height: 30px;
    width: 1px;
    background-color: black;
    margin: 0 1px;
}