.container {
    background-color: #E7E7E7;
    border-radius: 15px;
    padding: 20px;
    height: 500px;
    width: 800px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto;
    text-align: center;
}