.container {
    background-color: #E7E7E7;
    border-radius: 15px;
    height: 500px;
    width: 800px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    display: flex;
    overflow: hidden;
    position: relative;
}

.login-register {
    width: 200px;
    background-color: #d0d0d0;
    position: relative;
    z-index: 1;
}

.select {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
}

.select button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: #d0d0d0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.select button.selected {
    background-color: #E7E7E7;
    cursor: default;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.select button.selected::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    width: 5px;
    background-color: #E7E7E7;
}

.select button:not(.selected):hover { background-color: #cccccc; }

.input {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #E7E7E7;
    position: relative;
    z-index: 0;
}

#group {
    position: relative;
    margin-bottom: 30px;
    width: 300px;
}

#group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: none;
}

#group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
}

#pw-see, #pw_c-see, #id-check, #code-check {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

#id-check, #code-check {
    background: none;
    border: none;
    transition: background-color 0.3s ease;
}

#submit {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    background-color: #BDD971;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#submit:hover { background-color: #aec867; }

#group input:focus ~ label,
#group input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 14px;
    color: #03A9F4;
}

#group input:focus { border-color: #03A9F4; }

.id, .code {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#id-check, #code-check {
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#id-check:hover, #code-check:hover { background: rgb(202, 202, 202); }
button, label { caret-color: transparent; }
.error { border-bottom: 1px solid red; }
.success { border-bottom: 1px solid #03A9F4; }

.error-message {
    display: none;
    color: red;
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    width: 100%;
    text-align: left;
}

.successmessage {
    display: none;
    color: rgb(33, 147, 75);
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    width: 100%;
    text-align: left;
}

#id-check.checked, #code-check.checked {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #4CAF50;
    right: -40px;
    cursor: default;
}